<html>

<head>
</head>

<body style="text-align: center;">
    <h3>{{title}}</h3>
    <p>
        Hi {{name}},<br />
        <p>
            Click
            <a href={{link}}>
                here
            </a>
            {{actionText}}
        </p>
</body>

</html>