<html>

<head>
</head>

<body style="text-align: center;">
    <h3>{{title}}</h3>
    <p>
        <p>
            Click
            <a href="{{url}}/update-password?token={{token}}&_id={{uId}}">
                here
            </a>
            to reset your password.
        </p>
</body>

</html>