<html>

<head>
</head>

<body style="text-align: center;">
    <h3>{{title}}</h3>
    <p>
        Hi {{name}},<br />
        <p>
            Click
            <a href="{{url}}/login/{{token}}">
                here
            </a>
            verify your email.
        </p>
</body>

</html>